@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: -webkit-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: -o-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }

body {
  font-family: 'Noto Sans TC', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    align-items-margin: 0 auto; }

ul {
  list-style: none;
  text-align: center;
  padding: 0; }

@media (max-width: 568px) {
  .panels {
    display: block;
    height: 100%; } }

@media (min-width: 768px) {
  .panels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 900px;
    position: relative;
    z-index: 1;
    height: 100%; } }

.panel {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  padding: 30px;
  background-color: #fff;
  color: #292B73;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .panel.yellow {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: #FFB637; }

h1, h3 {
  margin: 0;
  text-align: center; }

h1 {
  font-weight: 700;
  margin-bottom: 30px; }

h3 {
  font-weight: 400; }

textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  outline: none;
  border: solid 2px rgba(0, 0, 0, 0.3); }
  textarea:focus {
    border-color: #292B73; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px; }

button {
  padding: 10px 20px;
  border-radius: 0px;
  margin: 6px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  border: none; }
  button.yellow {
    background-color: #FFB637; }
  button.purple {
    background-color: #292B73;
    color: white; }
  button.white {
    border: solid 2px #292B73; }

.symbol {
  font-size: 24px;
  text-align: center;
  font-weight: 900; }

hr {
  border: none;
  border-bottom: 3px solid #292B73; }

.translist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 450px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .translist li {
    margin-bottom: 5px;
    font-size: 16px;
    width: 30%; }

.playlist {
  font-size: 22px;
  text-align: center;
  height: 25px; }
  .playlist .playing {
    color: #FFB637; }
